.container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 16px;
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: var(--color-white)
}

.start {
  padding: 16px;
  background-color: var(--color-violet-dark);
}