.header {
  background-color: rgb(32, 62, 195);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header-input {
  width: 100%;
  border: none;
  background-color: rgb(80, 112, 255);
  outline: none;
  font-size: 20px;
  color: #fff;
  padding: 0 25px;
}
.fa-magnifying-glass {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: auto;
}
.userName {
  width: 200px;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 0 55px 0 0;
}
.search {
  border-left: 1px solid rgb(97, 97, 97);
}
