.header {
  background-color: rgb(32, 62, 195);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
}
.header a {
  text-decoration: none;
  margin: auto;
}
.header-input {
  width: 100%;
  border: none;
  background-color: rgb(80, 112, 255);
  outline: none;
  font-size: 20px;
  color: #fff;
  padding: 0 25px;
}
.fa-magnifying-glass {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: auto;
}
.userName {
  width: 200px;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 0 55px 0 0;
  cursor: pointer;
}

.search {
  border-left: 1px solid rgb(97, 97, 97);
}
.theme-btn {
  width: 60px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: none;
  background-color: #fff;
  opacity: 70%;
  cursor: pointer;
}
