.burger {
  display: block;
  width: 100px;
  height: 60px;
  position: relative;
  transition-duration: 0.5s;
  background-color: rgb(32, 62, 195);
}

.fa-solid.fa-bars {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 15px 35px;
}
.fa-solid.fa-xmark {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 15px 35px;
}
.burger-navigation {
  position: absolute;
  width: 200px;
  background-color: rgb(32, 62, 195);
  color: #fff;
  font-size: 14px;
  text-align: left;
}
.navigation-list {
  padding: 20px;
}
.nav-item {
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.nav-item:hover {
  color: rgb(174, 174, 174);
  transition: 0.3s;
}
