.wrapper-cardSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  width: 200px;
  height: 180px;
  padding: 10px;
  margin-bottom: 30px;
}

.cardSmall-info__title {
  font-weight: 900;
}

.cardSmall__img {
  max-width: 100px;
  max-height: 100px;
}
