.container {
  position: absolute;
  top: 54px;
  padding: 16px;
  min-width: 320px;

  background-color: var(--color-violet);

  a {
    display: block;
    padding: 8px 16px;

    color: var(--color-white);
    border-radius: 8px;

    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: var(--color-violet-middle);
    }
  }
}