.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.success {
  text-align: center;

  button {
    margin-top: 32px;
    padding: 12px 16px;

    border-radius: 8px;
    background-color: var(--color-violet);

    font-size: 1.6rem;
    color: var(--color-white);
    font-weight: 600;
  }
}