.popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 20px 999px rgb(0 0 0 / 30%);
  background-color: var(--color-background-theme);
}
.button__cancel {
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
  cursor: pointer;
  border-radius: 24px;
}