* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 50px;
    width: 100%;
    padding: 30px 0px;
    background-color: blue;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
}
main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 50px;
}