.card {
  display: flex;
  width: 296px;
  max-height: 196px;
  padding: 16px;
  border: solid 1px gray;
  overflow: hidden;
}

.data-block {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  font-size: 1.6rem;
  margin-right: 24px;
}

.card-date {
  margin-bottom: 8px;

}

.card-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.card-text {

}

.card-image img {
  width: 96px;
  height: 96px;
}