.card {
  display: flex;
  justify-content: space-between;
  width: 264px;
  height: 196px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  background-color:rgb(241, 241, 241);
}

.data-block {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  font-size: 1.6rem;
  margin-right: 10px;
}

.card-date {
  margin-bottom: 8px;

}

.card-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.card-text {
  max-height: 110px;
  overflow: hidden;
}

.card-image img {
  width: 96px;
  height: 96px;
  border-radius: 4px;
}