.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(241, 241, 241);
  /* background-color: black; */
  font-size: 1.6rem;
  padding: 16px;
  margin-bottom: 32px;
}

.header .container {
  display: flex;
  padding: 16px;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.header-nav__list {
  font-size: 1.8rem;
  color: black;
  list-style: none;
  margin-left: 16px;
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.header-nav__item {
  height: 40px;
  color: inherit;
  display: flex;
  align-items: center;
  
}

.header-nav__item:hover {
  color: #999;
  border-radius: 5px;
}

.header-nav__item a {
  color: inherit;
  padding: 16px;
}

.button-burger {
  display:flex;
  width: 24px;
  height: 24px;
  position: relative;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.button-burger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 22px;
  background-color: black;
  height: 2px;
}

.button-burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 22px;
  background-color: black;
  height: 2px;
}

.button-burger span {
  position: absolute;
  top: 11px;
  left: 1px;
  width: 22px;
  background-color: black;
  height: 2px;
}

.header__button:hover {
  opacity: 0.6;
}

.button-theme {
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  padding: 4px;
  cursor: pointer;
  margin-left: 16px;
}

.button-theme:hover {
  opacity: 0.6;
}