.container {
  display: flex;
  align-items: center;
  column-gap: 8px;

  height: 52px;
  margin-left: 1px;
  padding: 16px;
  background-color: var(--color-violet-dark);

  white-space: nowrap;
  font-size: 1.4rem;

  color: var(--color-violet-light);
}