.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  padding: 10px;
}
.input {
  padding: 2px;
  border: 1px solid white;
  width: 300px;
}

.button {
  width: 306px;
  height: 30px;
}
